# Smart Building Project

###### 20250710

Dataset: https://www.kaggle.com/datasets/claytonmiller/cubems-smart-building-energy-and-iaq-data

In [22]:
# Import Libraries
import pandas as pd      
import numpy as np 
import seaborn as sns

In [ ]:
# For the purpose of this project, 2018Floor2.csv is selected for the analysis

In [ ]:


df0 = pd.read_csv('2018Floor2.csv')
df = df0.copy()

df.head()

,Date,z1_AC1(kW),z1_Light(kW),z1_Plug(kW),z1_S1(degC),z1_S1(RH%),z1_S1(lux),z2_AC1(kW),z2_AC2(kW),z2_AC3(kW),...,z3_Plug(kW),z3_S1(degC),z3_S1(RH%),z3_S1(lux),z4_AC1(kW),z4_Light(kW),z4_Plug(kW),z4_S1(degC),z4_S1(RH%),z4_S1(lux)
0,2018-07-01 00:00:00,0.0,0.01,0.15,28.36,58.93,0.0,1.08,0.0,0.0,...,0.32,29.30,68.22,0.0,0.0,0.0,0.0,NaN,NaN,NaN
1,2018-07-01 00:01:00,0.0,0.01,0.15,28.36,58.91,0.0,1.07,0.0,0.0,...,0.32,29.30,68.21,0.0,0.0,0.0,0.0,NaN,NaN,NaN
2,2018-07-01 00:02:00,0.0,0.01,0.15,28.36,58.94,0.0,0.88,0.0,0.0,...,0.28,29.29,68.24,0.0,0.0,0.0,0.0,NaN,NaN,NaN
3,2018-07-01 00:03:00,0.0,0.01,0.15,28.36,58.94,0.0,1.06,0.0,0.0,...,0.32,29.29,68.28,0.0,0.0,0.0,0.0,NaN,NaN,NaN
4,2018-07-01 00:04:00,0.0,0.01,0.15,28.36,58.94,0.0,1.06,0.0,0.0,...,0.32,29.29,68.30,0.0,0.0,0.0,0.0,NaN,NaN,NaN

In [36]:
df.tail()

,Date,z1_AC1(kW),z1_Light(kW),z1_Plug(kW),z1_S1(degC),z1_S1(RH%),z1_S1(lux),z2_AC1(kW),z2_AC2(kW),z2_AC3(kW),...,z3_Plug(kW),z3_S1(degC),z3_S1(RH%),z3_S1(lux),z4_AC1(kW),z4_Light(kW),z4_Plug(kW),z4_S1(degC),z4_S1(RH%),z4_S1(lux)
264955,2018-12-31 23:55:00,0.0,0.32,0.09,NaN,NaN,NaN,0.94,1.16,0.85,...,0.23,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN
264956,2018-12-31 23:56:00,0.0,0.31,0.09,NaN,NaN,NaN,0.96,1.18,0.88,...,0.23,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN
264957,2018-12-31 23:57:00,0.0,0.31,0.09,NaN,NaN,NaN,0.95,1.17,0.87,...,0.23,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN
264958,2018-12-31 23:58:00,0.0,0.31,0.09,NaN,NaN,NaN,0.61,1.18,0.88,...,0.23,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN
264959,2018-12-31 23:59:00,0.0,0.31,0.09,NaN,NaN,NaN,0.00,1.16,0.86,...,0.23,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN

In [29]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264960 entries, 0 to 264959
Data columns (total 37 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Date          264960 non-null  object
 1   z1_AC1(kW)    264486 non-null  float64
 2   z1_Light(kW)  264525 non-null  float64
 3   z1_Plug(kW)   264523 non-null  float64
 4   z1_S1(degC)   101930 non-null  float64
 5   z1_S1(RH%)    101930 non-null  float64
 6   z1_S1(lux)    101930 non-null  float64
 7   z2_AC1(kW)    264374 non-null  float64
 8   z2_AC2(kW)    264520 non-null  float64
 9   z2_AC3(kW)    264520 non-null  float64
 10  z2_AC4(kW)    264520 non-null  float64
 11  z2_AC5(kW)    264468 non-null  float64
 12  z2_AC6(kW)    264468 non-null  float64
 13  z2_AC7(kW)    264468 non-null  float64
 14  z2_AC8(kW)    264468 non-null  float64
 15  z2_AC9(kW)    264468 non-null  float64
 16  z2_AC10(kW)   264468 non-null  float64
 17  z2_AC11(kW)   264468 non-null  float64
 18  z2_AC12(kW)   264468 non-null  float64
 19  z2_AC13(kW)   264468 non-null  float64
 20  z2_AC14(kW)   264468 non-null  float64
 21  z2_Light(kW)  264522 non-null  float64
 22  z2_Plug(kW)   264521 non-null  float64
 23  z2_S1(degC)   101672 non-null  float64
 24  z2_S1(RH%)    101672 non-null  float64
 25  z2_S1(lux)    101672 non-null  float64
 26  z3_Light(kW)  264523 non-null  float64
 27  z3_Plug(kW)   264523 non-null  float64
 28  z3_S1(degC)   102551 non-null  float64
 29  z3_S1(RH%)    102551 non-null  float64
 30  z3_S1(lux)    102551 non-null  float64
 31  z4_AC1(kW)    264421 non-null  float64
 32  z4_Light(kW)  264520 non-null  float64
 33  z4_Plug(kW)   264521 non-null  float64
 34  z4_S1(degC)   0 non-null       float64
 35  z4_S1(RH%)    0 non-null       float64
 36  z4_S1(lux)    0 non-null       float64
dtypes: float64(36), object(1)
memory usage: 74.8+ MB

In [ ]:
# The shape of the data
df.shape

# 264960 rows, 37 columns

(264960, 37)

In [ ]:
# Check for duplicates
df.duplicated().value_counts()

# No duplicated values found

False    264960
Name: count, dtype: int64

In [ ]:
# Check for missing values
df.isnull().sum()

# Lots of values found to be missing

Date                 0
z1_AC1(kW)         474
z1_Light(kW)       435
z1_Plug(kW)        437
z1_S1(degC)     163030
z1_S1(RH%)      163030
z1_S1(lux)      163030
z2_AC1(kW)         586
z2_AC2(kW)         440
z2_AC3(kW)         440
z2_AC4(kW)         440
z2_AC5(kW)         492
z2_AC6(kW)         492
z2_AC7(kW)         492
z2_AC8(kW)         492
z2_AC9(kW)         492
z2_AC10(kW)        492
z2_AC11(kW)        492
z2_AC12(kW)        492
z2_AC13(kW)        492
z2_AC14(kW)        492
z2_Light(kW)       438
z2_Plug(kW)        439
z2_S1(degC)     163288
z2_S1(RH%)      163288
z2_S1(lux)      163288
z3_Light(kW)       437
z3_Plug(kW)        437
z3_S1(degC)     162409
z3_S1(RH%)      162409
z3_S1(lux)      162409
z4_AC1(kW)         539
z4_Light(kW)       440
z4_Plug(kW)        439
z4_S1(degC)     264960
z4_S1(RH%)      264960
z4_S1(lux)      264960
dtype: int64